.search-label {
    padding: 7px 0 0 !important;
}

.input-sm {
    height: 25px !important;
    margin-top: 5px;
    padding: 3px 10px !important;
}

.btn-sm {
    height: 25px;
    margin-top: 5px;
    padding: 3px 10px;
}

table.dataTable thead>tr>th {
    padding: 5px;
}

table.dataTable tbody>tr>td {
    padding: 5px;
}

.btn-primary {
    background-color: #2188d5;
}

.submit {
    margin-right: 40px;
}
.nav-tabs-custom>.nav-tabs>li.active{
    border-bottom: 2px solid #069c97;
    border-top-color: transparent;
}
.nav-tabs-custom>.nav-tabs>li.active>a{
    border-right-color: transparent;
    border-left-color: transparent;
}
.select-width-70{
    width: 70px;
}
.nav-tabs-custom{
    box-shadow: none;
}
.nav-tabs-custom>.nav-tabs{
    border-bottom-color: #bfbfbf;
}
.box{
    border-radius: 0;
    box-shadow: none;
}
.required-spot{
    color: red;
    position: absolute;
    font-size: 10px;
    top: 5px;
    font-weight: 600;
}
.marginl-107{
    margin-left: 107px;
}
.marginl-207{
    margin-left: 207px;
}
.jstree-default .jstree-clicked{
    box-shadow:none;
    background: none;
}
.form-control-feedback{
    right:0 !important;
    top:-4px;
}